<a href="https://colab.research.google.com/github/avhishekz/Python/blob/main/14_feb_FUNCTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet():
  print("Hii")
  print("Python")
greet()
greet()

Hii
Python
Hii
Python

In [ ]:
def python():
  print("We are studying functions")
  print("Its first class")

python()

We are studying functions
Its first class

In [ ]:
def add(x,y):
  add=x+y
  print(f"sum is{add}")
add(10,-3)

sum is7

In [ ]:
add(10,12)

sum is22

In [ ]:
#Types of arguments  1.Default   2.key word  3.Positional  4.

In [ ]:
#Default argument
#jo fn decleration pe use ho

In [ ]:
#POSITIONAL ARGUMENT
def person_info(Name,Dept):
  print("your name is ",Name)
  print("your dept is",Dept)
person_info("Abhi","Socs")

your name is  Abhi
your dept is Socs

In [ ]:
#KEY ARGUMENT
def UPES(Name,dept):
  print(f"Hii {Name}")
  print(f"Are you from {dept} department")
UPES( dept="Socs",Name="Abhi")

Hii Abhi
Are you from Socs department

In [ ]:
#DEFAULT
def UPES1(Name,student,dept="SOCS"):
  print(f"Hii {Name}")
  print(f"I am {student}")
  print(f"Are you from {dept} department")
UPES1( "Abhi","Rishu",dept="SOE")

Hii Abhi
I am Rishu
Are you from SOE department

In [ ]:
def sum(*Y): #  * keyword se mtlb variable length
  sum=0
  for i in Y:
    sum+=i
  print(f"your addition is {sum}")

sum(1,2,3,4,5,6,7,8,9)

your addition is 45

In [ ]:
# *
# **

In [ ]:
def xyz(*num,name):
  sum4=0
  print(num)
  print(name)

  for i in num:
    sum4=sum4+i
  print(f"sum is {sum4}")

xyz(1,3,5, name="Touseef")

(1, 3, 5)
Touseef
sum is 9

In [ ]:
def info_person1(*args, **kwargs):
  for i,j in kwargs.items():
    print(i,j)
  print(args)

info_person1(3,4,name="abhi",dept="S0E")

name abhi
dept S0E
(3, 4)