<a href="https://colab.research.google.com/github/avhishekz/Python/blob/main/2_feb_age_prg_%2C_TUPPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = int(input("Enter your age: "))
limit = 90
years_left = limit - age
months_left = years_left * 12
weeks_left = months_left * 4
days_left = weeks_left * 7
print(f"You have {years_left} years, {months_left} months, {weeks_left} weeks and {days_left} days left to reach the limit of {limit}.")

Enter your age: 20
You have 70 years, 840 months, 3360 weeks and 23520 days left to reach the limit of 90.

In [ ]:
tuple=("upes",10,12.4)
tuple

('upes', 10, 12.4)

In [ ]:
print(len(tuple))

3

In [ ]:
print(tuple)

{10, 12.4, 'upes'}

In [ ]:
#slicing
print(tuple[:2])

('upes', 10)

In [ ]:
tuple1=(10,5)
tuple3=(tuple,tuple1)

In [ ]:
print(len(tuple3))

2

In [ ]:
print(tuple[::2])

('upes', 12.4)

In [ ]:
tuple4=tuple+tuple1
print(tuple4)

('upes', 10, 12.4, 10, 5)

In [ ]:
tuple5=(10,)*5
print(tuple5)

(10, 10, 10, 10, 10)

In [ ]:
set1={1,34,'upes',-23,-1}
print(type(set1))

<class 'set'>

In [ ]:
print(set1)

{1, 34, 'upes', -23, -1}

In [ ]:
set1.add(99)
print(set1) #khi bhi add ho skta hai at any posn

{1, 34, 99, 'upes', -23, -1}

In [ ]:
set1.remove(99)
print(set1)

{1, 34, 'upes', -23, -1}

In [ ]:
set1.discard(99) #remove vs discard , value nhi hai phir bhi cods run in discard
print(set1)

{1, 34, 'upes', -23, -1}

In [ ]:
set1.clear()
print(set1)

set()

In [ ]:
ss=set()
print(type(ss))

<class 'set'>

In [ ]:
abc=set()
print(type(abc))

<class 'set'>

In [ ]:
set2={92,1,2,3,4,5,67,45,True,"UPES","Python"}
set2.pop()

1

In [ ]:
set2.add((12,34,"tupple"))
print(set2)
print(type(set2))

{2, 3, 4, 5, 67, 'UPES', 'Python', 45, (12, 34, 'tupple'), 92}
<class 'set'>

In [ ]:
print(id(str))

97763808077760